<input id="styleInactive"  [(colorPicker)]='memory.cardColor' [style.background]='memory.cardColor'><label class="color">Card color</label>
<br>
<input id="styleActive"  [(colorPicker)]='memory.cardBackColor' [style.background]='memory.cardBackColor'><label class="color">Open color</label>
<br>
<input id="styleFound"  [(colorPicker)]='memory.cardFoundColor' [style.background]='memory.cardFoundColor'><label class="color">Found color</label>
<br>
<input id="styleFound"  [(colorPicker)]='memory.timeColor' [style.background]='memory.timeColor'><label class="color">Time color</label>

